<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <connectionStrings>
    <add name="constr" connectionString="Server=.\Amitsql; Database=exploreindia; integrated security=true;"/>
  </connectionStrings>
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
</configuration>
